*{
    margin: o;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.main_box{
    background: url("camera.jpg");
    height: 100vh;
    background-size: contain;

}
.btn_one{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor:pointer
    transition: all 0.3s linear;
}
.sidebar_menu{
    position: fixed;
    /* -300 left means page me hai per wo out of screen ho gaya hain  */
    left: -300px;
    height: 100vh;
    width: 300px;
    /* background color ka opacity 0.1 diya gaya hai */
    background-color: rgb(255, 255, 255,0.1);
    box-shadow: 0 0 6px rgb(242, 239, 239);
    transition: all 0.3s linear;
}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
   line-height: 60px;
   box-shadow: 0 3px 4px rgb(247, 244, 244,0.5); 
   height: 60px;
}
.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;

}
.sidebar_menu .btn_two i{
color: grey;
font-size: 25px;
line-height: 60px;
position: absolute;
left: 275px;
opacity: 0.5;
cursor: pointer;
transition: all 0.3s linear;

}
.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 80px;
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
}
.sidebar_menu .menu i,a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.sidebar_menu .menu i{
    padding-right: 8px;
}
.sidebar_menu .social_media{
    position: absolute;
    left: 25%;
    bottom: 20px;
}
.sidebar_menu .menu .social_media i{
    color: white;
    opacity: 0.5;
    padding: 0 5px;
}
#check{
    /* checkbox ka display "none" krne pe wo hat gaya and uska reserved space bhi hat jayega aand sidebar menu upward push ho jaayega  */
    display: none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgb(247, 244, 244,0.5); 

}
.btn_one i:hover{
    /* btn one abhi hover nahi hoga bcz wahan 2 layer hai  jisme upper layer hai sidebar_menu and lower layer is btn_one so abhi effect nahi dikh rha hai */
    font-size: 40px;
}
.btn_two i:hover{
    font-size: 30px;
}
.sidebar_menu .menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.1);

}
/* Meaning of tilde sign(~) i.e; css selector*/
/* jaise hi button checked (clicked) hoga waise hi tildesign(~) jo  "check" ke siblings(sidebar_menu and btn_one) ko dikhata hai  toh sidebar_menu sibling dikhne lage */
#check:checked ~ .sidebar_menu{
    left: 0;
}
#check:checked ~ .btn_one{
    opacity: 0;
}